.title-container {
    display: block;
    padding: 20px;
    background: url("../img/head_bg.png") no-repeat;
    background-size: cover;
  }
  .title-container h1 {
    display: block;
    text-align: center;
    color: #fff;
  }
   .title-container h1::after {
    content: "";
    display: block;
    margin: 10px auto;
    width: 100px;
    background: #c59f00;
    height: 3px;
  }